
<%#
<ul>
<li class="shopping-title">今月の収入</li>
<li class="shopping-subtitle">1,000,000yen</li>
<li class=shopping-title>固定費</li>
<li class="shopping-subtitle">50,000yen</li>
<li class=shopping-title>使用可能額</li>
<li class="shopping-subtitle">950,000yen</li>
</ul> %>

