.profile-form-wrap {
  background: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.profile-form-wrap label {
  font-weight: bold;
}

.edit-profile-wrapper {
  margin-top: 60px;
}



.translate {
  width:80px;
  height:80px;
  transition-duration: 1s;
  background:rgba(18,132,129,0.8);
}

.translate:hover { transform:translate(50px,50px); }