.navbar {
  z-index:1;
  position:fixed;
  width:100%;
  background-image: linear-gradient(-90deg, #FF00A1, #F6FF00);
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
  height: 77px;
  opacity:0.8;
  &__brand {
    height: 35px;
    width: 176px;
    background-size: 114px;
  }
  &__mainLogo {
    background-repeat: no-repeat;
    background-image: image-url("logo.png");
  }
  &-nav {
    & > li {
      margin-left: 20px;
      &:first-child {
        margin-left: 0;
      }
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px !important;
        background-repeat: no-repeat;
      }
      .profile-icon {
        background-image: image-url("parts3.png");
      }
    }
  }
}
.infomation{
  font-family: monospace;
  color: gray;
}